.nav-container{
    background: #292929d3;
    color:aliceblue;
    /* padding: 1em; */
    position: fixed;
    top: 0;
    width: 100%;
}
.nav-ul{
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.nav-li{
    list-style: none;
    margin: 0 1rem;
    cursor: pointer;
}
.nav-li a{
    text-decoration: none;
    color: #fff;
}
.nav-li:hover{
    color: rgb(228, 199, 255);
}
.navbar-icons{
    height: 25px;
}